@font-face {
    font-family: 'Cooper Hewitt';
    src: url('assets/CooperHewitt-Heavy.otf') format('opentype'),
         url('assets/CooperHewitt-Heavy.ttf') format('truetype');
         font-weight: 900;
         font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text */

h1, h2, h3{
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 900;
}

a, li, p{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

.chevron {
    margin-left: 8px; /* Space between the text and arrow */
    width: 1em; /* Set width relative to the font size */
    height: 1em; /* Set height relative to the font size */
    vertical-align: middle; /* Aligns the image vertically with the text */
}

/* Header */
header {
    background-color: #3a3a3a;
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.25rem;
    color: #f2f2f2;
    margin-left: 2.56rem;
 }


.sub-menu {
    display: none;
}

.nav-menu {
    display: flex;
}


li a{
    color: #f2f2f2;
}

.nav-menu li a {
    display: flex;
    align-items: center;
    color: #f2f2f2;
}

.chevron {
    margin-left: 0.75rem;
    margin-right: 2.625rem;
    width: 1rem; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Body */
main{
    display: flex;
    flex-direction: column;
}

.good-food{
    display: flex;
    margin-top: 4rem;
    max-width: 61rem;
    align-items: center;
}
.info h2 {
    text-align: center;
}

h2{
    color: #707070;
    font-size: 5.625rem;
    line-height: 6.5rem;
}

.gray{
    color: #404040;
    font-size: 7.8125rem;
    display: block;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 2.5rem;
}

.info p{
    font-size: 1rem;
    max-width: 22.8rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    padding-left: 0.9rem;
}

.button{
    width: 11.63rem;
    color: #f2f2f2;
    background-color: #404040;
    padding: 1.03rem 3.68rem;
    border-radius: 1.75rem;
    margin-left: 0.9rem;
}

.images {
    position: relative;
    width: 35.94rem;
    height: 34.19rem;
}

.images :first-child{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 24.25rem;
    z-index: -1;
}

.images :last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 30.3rem;
}

/* Local Travel */
.styled{
    position: relative;
    display: inline-block;
    width: 31.69rem;
    height: 12rem;
}

.green{
    color: #727812;
    font-size: 7.8125rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-7.4rem); 
    margin-left: 3.06rem;
}

.btm-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.content{
    display: flex;
    flex-direction: column;
    margin-right: 8.5rem;
}

.local-travel{
    margin-top: 1.69rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: center;
}

.gray-bar{
    background-color: #f2f2f2;
    height: 27.06rem;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.content, .local-travel img{
    transform: translateX(-9rem);
}

.content .button{
   margin-left: auto;
}

/* Stuff */
.stuff{
    display: flex;
    flex-direction: column;
    width: 79.56rem;
    margin-top: 4.63rem;
}

.flex-container{
    display: flex;
    
}

.heart-box {
    display: flex;
    flex-wrap: wrap;
    width: 19.7rem;
    position: relative;
    margin-left: 12.19rem;
}

.heart-box h2{
    color: #404040;
    font-size: 7.8125rem;
    z-index: -1;
    margin-bottom: 3.13rem;
}

.heart{
    position: absolute;
    width: 3.5em;
    height: auto;
    fill: #c65614;
    top: -1em;
    left: -0.8em;
}

.box{
    width: auto;
}

.flex-container{
    gap: 1.63rem;
}

.gray-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 29.8rem;
    z-index: -2;
}

.background{
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.gray-box img{
    width: 16.81rem;
    height: 25.2rem;
    position: relative;
    z-index: 1;
    transform: translateY(-1rem);
}

.box-info{
    margin-left: 0.97rem;
    position: relative;
    z-index: 2;
    transform: translateY(-1.6rem);
}

.box-info h3{
    font-size: 2.63rem;
    color: #b29124;
    line-height: 2.7rem;
    margin-bottom: 1.13rem;
}

.box-info p{
    margin-bottom: 2.13rem;
}

.box-info a{
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #3a3a3a;
    height: 15.87rem;
}

/* DESKTOP VIEW */
@media screen and (max-width: 842px) {
    main{
        background-color: blue;
    }
}

@media screen and (max-width: 320px) {
    main{
        background-color: yellow;
    }
}
